*~
controller_ocata/manifests/params.pp
controller_ocata/files/id_rsa_ctrl-01
controller_ocata/files/id_rsa_controller-01
controller_ocata/files/INFN-CA.pem
controller_ocata/files/cafile.pem
controller_ocata/files/ceph.conf
controller_ocata/files/ceph.client.cinder-prod.keyring
controller_ocata/files/ceph.client.cinder-cloudtest.keyring
controller_ocata/files/ceph.client.glance-prod.keyring
controller_ocata/files/ceph.client.glance-cloudtest.keyring
compute_ocata/manifests/params.pp
compute_ocata/files/id_rsa_ctrl-01
compute_ocata/files/id_rsa_controller-01
compute_ocata/files/INFN-CA.pem
compute_ocata/files/cafile.pem
compute_ocata/files/ceph.conf
compute_ocata/files/nagios_check_ovs.sh
compute_ocata/files/check_kvm_wrapper.sh
compute_ocata/files/secret.xml
compute_ocata/files/secret_test.xml
